/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Output configuration (nf-core standard)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

  withName: 'FASTQC' {
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: 'copy'
          ]
    }

  withName: 'TRIMGALORE' {
        publishDir = [
            path: { "${params.outdir}/trimgalore" },
            mode: 'copy'
        ]
    }



withName: 'ENRICHR' {
        publishDir = [
            path: { "${params.outdir}/enrichr" },
            mode: 'copy'
        ]




































  }
