/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Output configuration (nf-core standard)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

  withName: 'FASTQC' {
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: 'copy'
          ]
    }


  withName: 'TRIMGALORE' {
        publishDir = [
            path: { "${params.outdir}/trimgalore" },
            mode: 'copy'
        ]
    }


    withName: 'STAR_INDEX' {
        publishDir = [
            path: { "${params.outdir}/star/index" },
            mode: 'copy' // o 'symlink' se il genoma è molto pesante e vuoi risparmiare spazio
        ]
    }


    withName: 'STAR_ALIGN' {
        publishDir = [
            path: { "${params.outdir}/star/alignment" },
            mode: 'copy',
            // Opzionale (nf-core avanzato): salva solo i file BAM e i log, ignorando eventuali file temporanei
            pattern: "*.{bam,out,tab}" 
        ]
    }


    


withName: 'ENRICHR' {
        publishDir = [
            path: { "${params.outdir}/enrichr" },
            mode: 'copy'
        ]




































  }
