/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Output configuration (nf-core standard)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

  withName: 'FASTQC' {
        publishDir = [
            path: { "${params.outdir}/FastQC" },
            mode: 'copy'
          ]
    }


  withName: 'TRIMGALORE' {
        publishDir = [
            path: { "${params.outdir}/Trimgalore" },
            mode: 'copy'
        ]
    }


    withName: 'STAR_INDEX' {
        publishDir = [
            path: { "${params.outdir}/Star/Index" },
            mode: 'copy' // o 'symlink' se il genoma è molto pesante e vuoi risparmiare spazio
        ]
    }


    withName: 'STAR_ALIGN' {
        publishDir = [
            path: { "${params.outdir}/Star/Alignment" },
            mode: 'copy',
            // Opzionale (nf-core avanzato): salva solo i file BAM e i log, ignorando eventuali file temporanei
            pattern: "*.{bam,out,tab}" 
        ]
    }

    withName: 'FEATURECOUNTS' {
        publishDir = [
            path: { "${params.outdir}/FeatureCounts" },
            mode: 'copy'
        ]
    }


    withName: 'MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/MultiQC" },
            mode: 'copy'
        ]
    }


    withName: 'ENRICHR' {
        publishDir = [
            path: { "${params.outdir}/EnrichR" },
            mode: 'copy'
        ]




































  }
